<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/_stylesheet %>
  </head>

  <body <% if (locals.path === '/') { %>class="bg"<% } %>>

    <header>
      <%- include ./partials/_navbar %>
    </header>

    <main>
      <% for (const type in messages) { %>
        <p class="alert alert-<%= type %>"><%= messages[type] %></p>
        <% } %>
      <%- body %>
    </main>

    <footer>
      <%- include ./partials/_footer %>
    </footer>

  </body>
</html>
