<div class="formContainer">
  <h1>Update Video</h1>

  <form method="post" action="/videos/<%= video._id %>">
    <input type="hidden" name="_method" value="put">

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" id="title" name="title" value="<%= video.title %>" class="input">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" class="input" rows="4"><%= video.description %></textarea>
    </div>

    <div class="form-group">
      <label for="video">Video Link</label>
      <input type="text" id="video" name="video" value="<%= video.video %>" class="input">
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" id="location" name="location" value="<%= video.location %>" class="input">
    </div>

    <button type="submit" class="button">Submit</button>
  </form>
</div>
