<div class="formContainer">
  <h1>Update Media</h1>

<form method="post" action="/venues/<%= venue._id %>">
  <input type="hidden" name="_method" value="put">

  <div class="form-group">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" value="<%= venue.title %>" class="input">
</div>

<div class="form-group">
  <label for="description">Description</label>
  <textarea id="description" name="description" class="input" rows="4"><%= venue.description %></textarea>
</div>

<div class="form-group">
  <label for="image">Image Link</label>
  <input type="text" id="image" name="image" value="<%= venue.image %>" class="input">
</div>

<div class="form-group">
  <label for="location">Location</label>
  <input type="text" id="location" name="location" value="<%= venue.location %>" class="input">
</div>

<div class="form-group">
  <label for="latitude">Latitude</label>
  <input type="text" id="latitude" name="latitude" value="<%= venue.lat %>" class="input">
</div>

<div class="form-group">
  <label for="longitude">Longitude</label>
  <input type="text" id="longitude" name="longitude" value="<%= venue.lng %>" class="input">
</div>

  <button type="submit" class="button">Submit</button>
</form>
</div>
